//====================================================================================================
.menu {
	// .menu__icon
	&__icon {
	}

	// .menu__body
	&__body {
	}

	a {
		display: inline-block;
		position: relative;

		&::before {
			content: "";
			display: block;
			width: 0;
			border-bottom: rem(1) solid;
			position: absolute;
			left: 0;
			bottom: 0;
			opacity: 0;
			transition: $transition ease all 0s;
		}

		@media (any-hover: hover) {
			&:hover {
				&::before {
					opacity: 1;
					width: 100%;
				}
			}
		}
	}
}

.header {
	position: relative;
	z-index: 10;
	transition: $transition ease all 0s;

	// .header__container
	&__container {
	}

	// .header__row
	&__row {
		@include adaptiveValue("height", 102, 88, 1140, 768, 1);
		padding: rem(20) 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(20);
	}

	// .header__left
	&__left {
	}

	// .header__menu
	&__menu {
		.menu__body {
			@media (min-width: $mobile) {
				ul {
					display: flex;
					align-items: center;
					@include adaptiveValue("margin-left", -15, -10);
					@include adaptiveValue("margin-right", -15, -10);
				}

				li {
					@include adaptiveValue("padding-left", 10, 5);
					@include adaptiveValue("padding-right", 10, 5);
				}

				a {
					display: inline-block;
					padding: rem(5);
				}
			}
			@media (max-width: $mobile) {
				display: grid;
				align-content: flex-start;
				position: fixed;
				height: 100svh;
				top: -100%;
				left: 0;
				right: 0;
				padding: rem(88) rem(32) rem(32);
				background-color: $White;
				z-index: 150;
				opacity: 0;
				visibility: hidden;
				pointer-events: none;
				overflow-y: auto;
				overflow-x: hidden;
				transition: $transition ease all 0s;

					&::before {
						content: '';
						width: 100%;
						height: rem(88);
						background-color: $White;
						position: fixed;
						top: -100%;
						left: 0;
						right: 0;
						pointer-events: none;
						visibility: hidden;
						opacity: 0;
						z-index: 11;
						transition: $transition ease all 0s;
					}

				.menu-open & {
					top: 0;
					opacity: 1 !important;
					visibility: visible;
					pointer-events: all;

					&::before {
						opacity: 1 !important;
						visibility: visible;
						top: 0;
					}
				}

				ul {
					display: grid;
					align-content: flex-start;
					row-gap: rem(32);
					font-size: rem(22);
				}

				a {
					color: $mainColor;
				}
			}
		}
	}

	// .header__mobile-contacts
	&__mobile-contacts {
		@media (min-width: $mobile) {
			display: none !important;
		}
		@media (max-width: $mobile) {
			&:not(:first-child) {
				margin-top: rem(32);
				padding-top: rem(32);
				border-top: rem(1) solid rgba($color: $mainColor, $alpha: 0.4);
				font-size: rem(22);
			}
		}
	}

	// .header__right
	&__right {
	}

	// .header__contacts
	&__contacts {
		font-size: rem(16);

		.contacts__link_phone {
			@media (max-width: $mobile) {
				display: flex;
				align-items: center;
				gap: rem(16);

				&::after {
					content: "";
					display: block;
					width: rem(48);
					height: rem(48);
					background: url(../img/icons/header-phone.svg) no-repeat center/contain;
				}
			}
		}
	}

	.home & {
		color: $White;
	}

	&._scrolled {
		position: sticky;
		top: 0;
		background-color: $White;
		color: $mainColor;
		transform: translateY(-100%);
		opacity: 0;
	}

	&._show {
		opacity: 1;
		transform: translateY(0);

		.icon-menu {
			span,
			&::before,
			&::after {
				background-color: $mainColor;
			}
		}
	}
}

.contacts {
	display: grid;
	align-content: flex-start;
	row-gap: rem(8);

	// .contacts__item
	&__item {
	}

	// .contacts__caption
	&__caption {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 16, 8);
		}
	}

	// .contacts__link
	&__link {
		// .contacts__link_phone
		&_phone {
		}
	}
}

//====================================================================================================

//Burger
.icon-menu {
	display: none;

	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(28);
		height: rem(20);
		cursor: pointer;
		z-index: 151;

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: $mainColor;
			border-radius: rem(1);

			.home & {
				background-color: $White;
			}
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			width: 60%;
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span,
			&::before,
			&::after {
				background-color: $mainColor;
			}

			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
